.container {
    background: black;
    color: white;
    padding: 50px;
    margin: 20px;
}

.container h1 {
    font-size: xx-large;
}

.container h2 {
    font-size: x-large;
}

.container span {
    font-size: large;
}

.steps {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
