.active {
    background: #F5FCFA;
}

.drawerItem {
    padding: 20px !important;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #E6EAEA;
}

.drawerItem img {
    width: 50px;
    margin-right: 10px;
}